form{
    width: 50rem;
    color: #333;
    padding: 1rem;
    border: 1px solid #dad8d8;
    border-radius: 5px;
}

label{
    margin-bottom: 0.5rem;
}

input[type=text]{
    height: 1.5rem;
    padding: 1rem;
    border: 1px solid #dad8d8;
    border-radius: 5px;

    &:focus{
        border: 1px solid #E1E1E1;
    }
}

.form-content{
    padding: .75rem;

    .form-group{
        display: flex;
        flex-direction: column;
    }
}

.btn-create{
    background-color: #109648;
    color: #fff;

    &:hover{
        background-color: #108741;
    }
}

.btn-clear{
    &:hover{
        background-color: #E1E1E1;
    }
}