<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <h3>New task</h3>
    <br>
    <hr>
    <div class="form-content">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Task name..." formControlName="name">
        </div>
        <br>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" placeholder="Task description..." formControlName="description">
        </div>
        <br>
        <div class="justify-right">
            <input type="submit" class="btn btn-create" value="Submit" style="margin-right: 0.5rem;" [disabled]="taskForm.invalid">
            <button class="btn btn-clear" (click)="onClear()">Clear</button>
        </div>
    </div>   
</form>