<form [formGroup]="taskForm">
    <h3>New task</h3>
    <br>
    <hr>
    <div class="form-content">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Task name..." formControlName="name">
        </div>
        <br>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" placeholder="Task description..." formControlName="description">
        </div>
        <br>
        <div class="justify-right">
            <button class="btn btn-create" style="margin-right: 0.5rem;">Create</button>
            <button class="btn btn-clear">Clear</button>
        </div>
    </div>   
</form>